/* start main stting */

body{
    background-color: #f4f4f4;
}
.table{
    overflow-x: auto;
}
.main-table{
    box-shadow: 0 3px 10px #ccc;
}
.main-table td{
    background-color: #fff;
    vertical-align: middle;
}
.main-table td a i{

    margin: 5px;
}
.main-table thead td{
    background-color: #333;
    color: #fff;
    border: 0 !important;
    
}
.main-table .btn{
    padding: 3px 10px;
    margin-left: 5px;
}

/* end main stting */


/* start stting bootstrab */
.form-admin{
    width: 300px;
    margin: 100px auto;
}
.form-admin h4{
    color: #bfbfbf;

}
.form-admin input{
    margin-bottom: 10px;
}
.form-admin input.form-control{
    background-color: #efefef;
}
.navbar{
    border-radius: unset;
    padding: 10px
} 
.navbar a{
    font-size: 18px;
}
.navbar .dropdown .dropdown-toggle{
    text-transform:uppercase ;
}
.navbar-nav>li>.dropdown-menu {
    background-color: #f4f4f4;
    width: 180px;
}
.dropdown-menu>li:not(:last-of-type) >a{
    border-bottom: 1px solid #9d9d9d40;
}
.dropdown-menu>li>a{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.form-group{
    position: relative;
}
.form-group .req{
    position: absolute;
    font-size: 30px;
    top: 10px;
    right: 25px;
    color: #eb4343;
}

/* end stting bootstrab */
/*  satrt Dashbord page */

.home-stats .stat{
    color: #fff;
    padding: 20px;
    font-size: 17px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    margin-bottom: 5px;
}
.home-stats .stat i{
    font-size: 70px;
    top: 51px;
    left: 30px;
    position: absolute;
}
.home-stats .stat .info-card{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.home-stats .stat a{
    color: #fff;
    text-decoration: none;
}
.home-stats .stat-member{
    background-color: #3498db;
}
.home-stats .stat-Studint{
    background-color: #c0392b;
}
.home-stats .stat-section{
    background-color: #d35400;

}
.home-stats .stat-Courses{
    background-color: #8e44ad;

}

.home-stats .stat span{
    display: block;
    font-size: 50px;

}
.latest{
    margin-top: 30px;

}
.latest .toggel-info{
    cursor: pointer;
    color: #333;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
.latest .toggel-info:hover{
    color: #3333337e;
}
.latest i{
    margin-right: 5px;
}

.lastest-users {
    margin-bottom: 0;
}
.lastest-users li{
    padding: 10px;
    overflow: hidden;
    text-transform: uppercase;
}
.lastest-users li:nth-child(odd){
    background-color: #eee;
}
.lastest-users .btn-success{
    padding: 2px 8px;
}
/* End Dashbord page  */

/* start members page */
h1{
    font-size: 55px;
    margin: 40px 0;
    font-weight: bold;
    color: #666;
}
i.show-pass{
    font-size: 20px;
    position: absolute;
    top: 13px;
    right: -10px;

}

/* end members page */

/* start categories page */

.cat .head-cat{

    font-size: 25px;
    font-weight: bold;

}
.cat .sort{
    font-weight: bold;
    font-size: 16px;
}
.cat .sort a{
    color: #5f5f5f;
    font-size: 14px;
    text-decoration: none;
}
.cat .sort a.active{
    color: #EAB543;
}

.cat .sort span{
    color: #5f5f5f;
    font-size: 14px;
    cursor: pointer;
}
.cat .sort span.active{

    color: #EAB543;


}
.cat .body-cat{
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    padding: 15px;
}

@media (max-width:772px){
    .cat .body-cat{
        overflow: unset;
    }
}
.cat .body-cat:hover{
    background-color: #eee;
}
.cat .body-cat h3{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.cat hr{
    margin:0;

}
.cat .body-cat:last-of-type ~ hr{
    display: none;
}
.cat .body-cat .hideen-btn{
    position: absolute;
    right: -170px;
    top: 15px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
.cat .body-cat:hover .hideen-btn{
    right: 0;
}
.cat .body-cat .hideen-btn a{
    color: white;
    margin-right: 5px;
    padding: 2px 12px;

}
.cat .body-cat .hideen-btn a i{
    margin-right: 3px;
}
.cat .body-cat .hideen-btn a:first-of-type{
    background-color: #ff3838;
    border-color: #ff3838;
}
.cat .body-cat .hideen-btn a:last-of-type{
    background-color: #0c2461;
    border-color: #0c2461;
}
.cat .body-cat p{
    font-size: 16px
}
.cat .body-cat span:not(:last-of-type){
    margin-left: 5px;
    padding: 4px 9px;
    border-radius: 8px;
    color: white;
}
.cat .body-cat span.categories-status{
    background-color: #eb2f06;

}
.cat .body-cat span.Ads-status{
    background-color: #0c2461;
}
.cat .body-cat span.date{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 20px
}
/* end categories page */
/* start Item course */
.table-items .tr-item td{
 line-height: 4;
}
.table-items .tr-item td img{
    width: 50px;
}
 
details {
	position: relative;
	width: 300px;
	margin-right: 1rem;
}

details[open] {
	z-index: 1;
}

.custom-select summary {
	padding: 1rem;
	cursor: pointer;
	border-radius: 5px;
	background-color: #ddd;
	list-style: none;
}

.custom-select summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

.custom-select summary:after {
	content: '';
	display: inline-block;
	/* float: right; */
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

.custom-select summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

.custom-select ul {
	width: 100%;
	background: #ddd;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 200px;
	overflow-y: auto;
}

.custom-select li {
	margin: 0;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
}

.custom-select li:first-child {
	padding-top: 0;
}

.custom-select li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

/* FAKE SELECT */

.custom-select summary.radios {
	counter-reset: radios;
}

.custom-select summary.radios:before {
	content: var(--selection);
}

.custom-select input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

.custom-select input[type=radio]:checked {
	display: inline;
	--display: block;
}

.custom-select input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-weight: bold;
}

.custom-select ul.list {
	counter-reset: labels;
}

.custom-select label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

.custom-select label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}
/* end Item course */




